@model MvcCv.Models.Entity.TblYeteneklerim
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yetenek Ekleme sayfası</h2>
<br />

<form method="post">
   
    @Html.Label("Yetenek giriniz")
    @Html.TextBoxFor(x => x.Yetenek, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek Oranı giriniz")
    @Html.TextBoxFor(x => x.Oran, new { @class = "form-control" })
    <br />




    <button class="btn btn-info">Kaydet</button>





